<!-- Slideshow container renombrado a nuestro banner-home -->
<div class="banner-home">
                
    <div class="myAutoSlides fade" style="display: block;">
        <div class="numbertext">1 / 4</div>
        <div class="container-banner-elements">
            <img src="https://www.hunterandbligh.com.au/wp-content/uploads/2019/08/london-fashion-week-men-s-street-style-spring-summer-2020-runway-season-10-june-8-1.jpg">
            <div class="text-zone">
                <div class="title-peque">Señores caminando</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade">
        <div class="numbertext">2 / 4</div>
        <div class="container-banner-elements">
            <img src="/images/banner-images/banner-home.jpeg">
            <div class="text-zone">
                <div class="title-peque">Señorito asiático</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade">
        <div class="numbertext">3 / 4</div>
        <div class="container-banner-elements">
            <img src="https://cdn.pixabay.com/photo/2015/09/02/13/18/person-918986_960_720.jpg">
            <div class="text-zone">
                <div class="title-peque">Señorita leñadora (?)</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade">
        <div class="numbertext">4 / 4</div>
        <div class="container-banner-elements">
            <img src="https://cdn.pixabay.com/photo/2016/11/29/12/51/adult-1869621_960_720.jpg">
            <div class="text-zone">
                <div class="title-peque">Señor con libro</div>
            </div>
        </div>
    </div>
    
</div>