<!-- Slideshow container renombrado a nuestro banner-home -->
<div class="banner-home">
                
    <div class="myAutoSlides fade" style="display: block;">
        <div class="numbertext">1 / 5</div>
        <div class="container-banner-elements">
            <img src="/images/banner-images/midnight.jpeg">
            <div class="text-zone">
                <div class="title-peque">Señores caminando</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade">
        <div class="numbertext">2 / 5</div>
        <div class="container-banner-elements">
            <img src="/images/banner-images/on-street.jpg">
            <div class="text-zone">
                <div class="title-peque">Señorito asiático</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade">
        <div class="numbertext">3 / 5</div>
        <div class="container-banner-elements">
            <img src="/images/banner-images/clothes.jpg">
            <div class="text-zone">
                <div class="title-peque">Señorita leñadora (?)</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade">
        <div class="numbertext">4 / 5</div>
        <div class="container-banner-elements">
            <img src="/images/banner-images/buildings.jpeg">
            <div class="text-zone">
                <div class="title-peque">Señor con libro</div>
            </div>
        </div>
    </div>

    <div class="myAutoSlides fade" style="top: 0;">
        <div class="numbertext">5 / 5</div>
        <div class="container-banner-elements">
            <img src="/images/banner-images/girl.jpeg">
            <div class="text-zone">
                <div class="title-peque">Señor con libro</div>
            </div>
        </div>
    </div>
    
</div>