<footer>
    <div class="border"></div>
    <div class="contact-us">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
    </div>
    <div class="copyright">
        © 2020 Tienda Online de Middo Naito. Grupo 12. Todos los derechos reservados.
    </div>
    <!-- <div style="height: 4rem;">
        <img src="/images/team-logo.png" alt="team-logo" style="width: 100%; margin: 0; min-width: 0; height: auto;">
    </div> -->
</footer>