<footer>
    <div class="border"></div>
    <div class="contact-us">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
    </div>
    <div class="copyright">
        © 2020 Tienda Online de Middo Naito. Grupo 12. Todos los derechos reservados.
    </div>
</footer>