<footer>
    <div class="border"></div>
    <div class="contact-us">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
    </div>
    <div class="copyright"> © 2020 Tienda Online de ENLIGHTED™ . Todos los derechos reservados.<img src="/images/team-logo.png" alt="team-logo">
</footer>