<aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="/login">Ingresa</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/cart">Carrito</a></li>
        <li><a href="/us">About us</a></li>
        <li class="close-sidebar-btn"><a href="#" onclick="closeSidebar()">Cerrar</a></li>
      </ul>
    </nav>
</aside>

<!-- Esto no sé si no será muy chancho -->
<aside class="sidebar close-zone" onclick="closeSidebar()"> 
</aside>

<header>
    <div class="bar-menu"><i class="fas fa-bars bar-nav" onclick="openSidebar()"></i></div>
    <div class="logo"><a href="/"><img src="/images/demo-logo.png" alt="middo-naito"></a></div>
    <div class="container-cart-search">
        <div class="cart-icon"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
        <div class="search-icon"><i class="fas fa-search"></i></div>
    </div>
</header>