<article class="product">
    <a href="products/details" class="link-to-product">
        <img src="/images/products/<%= dir %>" alt="<%= alt %>">
        <div class="product-details">
            <div class="product-name"> <%= name %></div>
            <div class="product-price">$<%= price %></div>
        </div>
    </a>
</article>
