<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Nuevo Producto"}); %>
<script src="/js/validators/productAddValidation.js"></script>
<body class="adm-body">
    <%- include('../partials/header'); %>
    <main class="newProduct">
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>
        <h2 class="session-title">AÑADIR UN NUEVO PRODUCTO</h2>
        <form class="session-form new-product-form" id="newProduct" action="/products/add" method="POST" enctype="multipart/form-data">
            <div class="input-form">
                <label for="productName">NOMBRE</label>
                <input type="text" name="name" id="productName" class="inputs" placeholder="Escriba el nombre del producto">
                <span class="span-warning-msg"></span>
            </div>
            <div class="input-form">
                <label for="productDescription">DESCRIPCIÓN</label>
                <textarea name="description" id="productDescription" class="inputs" placeholder="Realice una descripción del producto"></textarea>
                <span class="span-warning-msg"></span>
            </div>

            <div class="two-cols">
                <div class="col">
                    <label for="category">CATEGORÍA</label>
                    <select name="category" class="btn-talle" id="productCategory">
                        <option value="" hidden selected>Seleccione</option>
                        <option value="1">Remera</option> 
                        <option value="2">Camisa</option> 
                        <option value="3">Campera</option>
                        <option value="4">Pantalón</option>
                        <option value="5">Accesorio</option>
                    </select>
                    <span class="span-warning-msg"></span>
                </div>

                <div class="col">
                    <label for="price">PRECIO</label>
                    <input type="number" name="price" id="productPrice" class="inputs" placeholder="Ingrese el precio del producto" min="0">        
                    <span class="span-warning-msg"></span>
                </div>
                
            </div>

            <div class="input-form">
                <label for="image">IMAGEN</label>
                <input type="file" name="image" id="productIMG" class="inputs" accept="image/png,image/jpeg,image/jpg">
                <span class="span-warning-msg"></span>
            </div>

            <div class="input-form">
                <label for="stockS" class="title-table">STOCK</label>
                <table class="table-stocks">
                    <thead>
                        <tr>
                            <th>Talle</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>S</td>
                            <td class="size-stock-input"><input name="stockS" type="number" value="0" min="0" required></td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td class="size-stock-input"><input name="stockM" type="number" value="0" min="0" required></td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td class="size-stock-input"><input name="stockL" type="number" value="0" min="0" required></td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td class="size-stock-input"><input name="stockXL" type="number" value="0" min="0" required></td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td class="size-stock-input"><input name="stockXXL" type="number" value="0" min="0" required></td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="btn">
                <button type="submit" class="btn-default">AÑADIR PRODUCTO</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>