* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway-cursive";
  src: url(../fonts/Raleway-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
}

@font-face {
  font-family: "bjork";
  src: url(../fonts/BJORKFON.ttf);
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Raleway;
  font-variant-numeric: lining-nums;
  background-color: rgb(255, 217, 199, 0.37);
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
}

body h1 {
  align-self: center;
}

body img {
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  padding: 0.5rem 0.25rem;

  background-color: black;
  color: white;
  font-size: 1.5rem;
}

header .bar-menu {
  width: 20%;
  padding: 1rem;
}

header .logo {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
}

header .logo img {
  width: 100%;
  height: 100%;
  max-width: 190px;
}

.container-cart-search {
  display: flex;
  justify-content: space-around;
  width: 20%;
  max-width: 300px;
}

header .cart-icon {
  display: none;
  text-align: end;
}

.user-icon {
  display: none
}

.link-profile-mobile {
  padding: 1rem 0.5rem;
}

.login-span {
  margin: 0 4px;
}

header a {
  color: white;
  text-decoration: none;
}

.fa-shopping-cart,
.fa-search,
.fa-bars,
.quantity .far {
  cursor: pointer;
}

header .search-icon {
  text-align: center;
}

.banner-home {
  max-height: 42rem;
  overflow: hidden;
  position: relative;
}

.banner-home img {
  width: 100%;
}

main.index-main {
  align-content: center;
}

.about-us {
  max-width: 768px;
  margin: 0 auto;
}

.border { 
  border-top: 1px solid black;
  width: 90%;
  align-self: center; 
  margin: 2rem 0;
  max-width: 768px;
}
.team-12 ul {
  padding-right: 40px;
}

.team-12 ul li {
  margin-bottom: 0.5rem;
}

.team-12 ul li span {
  font-weight: bold;
}

.shop-desc {
  padding: 1rem;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;

  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 0 0px;

  position: relative;
}

.section-title {
  border-bottom: 2px solid grey;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1.5rem auto;
  text-align: center;
  max-width: 1440px;
  width: 90%;
}

.section-title.cart-title {
  max-width: 720px;
  width: 100%;
}

.about-us .section-title {
  width: 100%;
}

.product {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  margin: 1rem;

/*   border: 2px solid grey; */
}

.product:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.link-to-product {
  text-decoration: inherit;
  color: inherit;
}

.product .product-details {
  height: 4rem;
  /* background-color: pink; */
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 0;
}

.index-main .product img {
  width: 100%;
  margin: 0;
  height: inherit;
  min-width: 0;
}

.sidebar {
  position: fixed;
  width: 50vw;
  left: -50vw;
  height: 100vh;
  background: black;
  font-size: 0.65em;
  z-index: 15;
  transition: all 0.25s;
}

.showing-sidebar {
  display: block;
  left: 0;
}

.sidebar nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.sidebar nav ul li {
  border-bottom: 1px solid grey;
  padding: 0 8px;
  display: flex;
  align-items: center;
  height: 3rem;
}

.sidebar nav a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.close-zone {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  right: 0;
  left: auto;
  z-index: 14;
}

.close-icon-sidebar { 
  display: none;
  color: white;
  font-size: 18px;
  width: 2rem;
  height: 2.8rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: calc(100% + 0.5rem);
}

.user-sidebar.li-mobile {
  padding: 0px;
}


#details {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.back-arrow {
  position: absolute;
  top: 4rem;
}
  
.arrow {
  background-color: transparent;
  border: none;
  font-size: x-large;
}

/* productDetails */
/* img */

main article img {
  width: 100%;
  /* height: 100%; */
  margin: auto;
}

main .product-data {
  margin: 6px 6px;
  border-bottom: 2px solid rgb(36, 10, 10);
}

main .btn-talle {
  margin: 6px 6px;
  color: black;
  background-color: lightgray;
  width: 20%;
}

.add-div {
  display: flex;
  justify-content: center;
  margin: 1.2em 0em;
}

.btn-black {
  margin: 12px 0px;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  max-width: 12rem;
  padding: 12px;
  width: 80%;
  letter-spacing: 0.5px;
  border: transparent;
  cursor: pointer;
}

.article-details {
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  width: 100%;
}

.product-description {
  margin: 6px 6px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.description-title {
  margin: 6px 6px;
  margin-bottom: -15px;
  border-top: 2px solid rgb(36, 10, 10);
  display: flex;
  font-size: 1em;
}

/* REGISTER Y LOGIN, EDIT y ADD PRODUCT html */

main.register, 
main.login, 
main.newProduct, 
main.cart{
  max-width: 768px;
  margin: 0 auto;
}
main .session-title {
  border-bottom: 2px solid grey;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1.5rem;
  text-align: center;
}

main .session-form {
  overflow: auto;
  margin: 10px;
  color: black;
  display: flex;
  flex-direction: column;
}


/* New product */
.session-form.new-product-form {
  color: #CDDDDD;
}


.session-form.new-product-form .btn-talle{
  margin-left: 5%;
}

.session-form.new-product-form textarea{
  font-size: 0.8rem;
  font-family: Raleway;
  resize: none;
  height: 5rem;
}

.session-form.new-product-form .btn-talle {
  height: 45.3333px; /* Este sale de sumar el padding de 1rem más el font-size de un input normal, turbio*/
  border: none;
  padding-left: 1rem;
}

.two-cols {
  display: flex;
  margin: 1.5rem auto;
  padding-top: 0.5rem;
  width: 90%;
  justify-content: space-between;
}

.two-cols .col {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.two-cols .col input, 
.two-cols .col .btn-talle {
  width: 100%;
  margin: 0;
}

/* Esto es para sacar las flechitas de los inputs number en Chrome, Safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esto es para sacar las flechitas de los inputs number en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* End New product */

/* Edit product */
.two-cols.title {
  margin-bottom: 0;
}

.two-cols.edit-form-field {
  margin-top: 0;
}

.col.old-image {
  display: flex; 
  align-items: center; 
  border: 1px solid black;
}

.new-image-container-edit-form {
  width: 50%;
}

.col.old-image img {
  width: 100%;
}

.col.new-image {
  justify-content: center; 
  border: 1px solid black;
}

.col.new-image .input-form {
  margin: 0; 
  padding: 0;
}

.aclaration-edit-form {
  margin: 0 auto 1rem; 
  width: 90%;
}

/* End Edit product */

.input-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-top: 0.5rem;
}

.input-form label{
  margin: 0.2rem auto;
  width: 90%;
  font-size: 1rem;
  font-size: 1rem; 
}

.session-form input, 
.session-form textarea {
  border: none;
  background-color: lightgrey;
  padding: 1rem;
  width: 90%;
  color: black;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn a {
  cursor: auto;
}

.btn-default {
  border: 0;
  background-color: black;
  color: white;
  padding: 12px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.btn-default:hover {
  background-color: #222222;
}

.yes-account, 
.no-account {    
  display: flex;
  justify-content: center;
  font-size: 1rem;   }

.no-underline{
  text-decoration: none;
  color: black; 
}


/* product cart with display grid */
.product-in-cart-grid {
  display: grid;
  grid-template-columns: minmax(130px, 25%) 1fr;
  width: 90%;
  place-self: center;
  background-color: rgba(194, 153, 153, 0.7);

  padding: 1rem 0.5rem;
  margin: 0 auto 1rem;;
}

.image-product-cart a {
  display: grid;
  place-items: center;
}

.price-quantity-in-cart {
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  align-items: flex-end;
}

.name-delete-product {
  position: relative;
  font-weight: bold;
}

.size-container,
.name-delete-product {
  padding: 0 1.8rem 0 0.5rem;
}

.fa-trash-alt {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-trash-alt:hover, 
.fa-minus-square:hover, 
.fa-plus-square:hover, 
.name-delete-product a:hover {
  color: #555555;
}

.section-cart {
  display: grid;
}

.details-product-cart {
  grid-template-rows: auto 2rem 1.5rem;
}

.image-product-cart img {
  width: 90%;
}

.deliver-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 360px;
  height: 6rem;
  background-color: rgba(194, 153, 153, 0.7);
}

.fa-truck {
  margin-right: 2rem;
}

.total-cart {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  max-width: 768px;
}

/* FIN product cart with display grid */

.btn-grey, 
.banner-btn {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.btn-default.btn-grey:hover, 
.btn-default.banner-btn:hover {
  background-color: #C2C2C2;
}

.btn-default.red {
  background-color: #ff0000;
}

.btn-default.red:hover {
  background-color: #FF3333;
}

footer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .border {
  margin: 0.5rem 0;
  border-top: 2px solid black;
  width: 100%;
}

footer i {
  margin: 0.5rem;
  font-size: 1.5rem;
}

/* Probando dropdowns */

.dropdown-container {
  display: none;
  flex-direction: column;
  background-color: black;
}

/* Fin probando dropdowns en mobile */

/* ESTILOS BANNER DINAMICO */
.banner-item {
  display: none;
}

.number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
}

.text-zone {
  display: none;
  width: 30%;
  height: 100%;
  
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.4);
}

.title-peque {
  text-align: center;
  font-size: 2rem;
  padding: 0 2rem;
  margin: 1rem 0;

}

.title-peque a {
  text-decoration: none;
  color: white;
}

.little-paragraph {
  color:white;
  padding: 0 4rem;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
/* FIN ESTILOS BANNER DINAMICO */

/* ESTILOS LISTA USUARIOS */
.adm-body {
  background-color: #2C2A4A;
  color: #CDDDDD;
}

.section-users-list {
  width: 90%;
  margin: 0 auto;
}

.profile-container-list {
  display: grid;
  grid-template-columns: 120px 1fr;
  background-color: #4F518C;;
  padding: 1rem; margin: 1rem 0;
  overflow: auto;
}

.image-container-users-list {
  display: grid;
  place-content: center;
  width: 100px; 
  height: 100px;
}

.image-container-users-list img {
  height: inherit; 
  max-width: 100%;
}

.user-details-users-list {
  display: grid;
}

.little-title-users-list {
  text-align: center;
  background-color: #1F1D34;
  padding: 1rem 0;
  width: 90%;
  margin: 1rem auto;
}
/* FIN ESTILOS LISTA USUARIOS */

.user-sidebar {
  display: flex; 
}

.user-sidebar i {
  padding-right: 0.5rem; 
}

.user-sidebar.li-mobile a {
  font-size: 1rem;
}

/* ESTILOS PERFIL DE USUARIO */
.main-profile {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  min-height: calc(100vh - 5rem - 2.5rem); /* 5rem el header y 2.5rem el footer (Esto solo funciona bien el desktop) */
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.profile-pic-container {
  margin: 0;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic-container img {
  width: 100%;
}

.user-details-in-profile {
  padding: 1rem 0 0 1rem;
  min-width: 90%;
}
/* FIN PERFIL DE USUARIO */

/* EDICION PERFIL DE USUARIO */
.user-details-in-profile-edit {
  display: block;
  padding-top: 1rem;
  min-width: 90%;
}

.edit-field-profile {
  display: grid;
  grid-template-columns: auto 70%;
}

.note-profile-edit {
  font-size: 12px; 
  position: relative; 
  bottom: 12px;
}
/* FIN EDICION PERFIL DE USUARIO */

/* INICIO PANEL DE ADMINISTRADOR */
.section-panel-admin {
  display: flex;
  max-width: 1024px;
  flex-wrap: wrap;
}

.section-panel-admin a {
  margin: 0 auto 1.5rem;
  text-decoration: none;
  color: black;
}

.panel-element {
  display: flex;
  width: 150px;
  height: 150px;
  background-color: #A599B5;
  align-items: center;
  padding: 1rem;
  text-align: center;
}
/* FIN PANEL DE ADMINISTRADOR */

/* BOTONES RADIO CHECKED IN DETAILS */
.buttons-checks {
  display: flex;
  justify-content: space-evenly;
}

.buttons-checks label {
  width: 15%;
  max-width: 3.5rem;
  margin: 0.25rem;
  background-color:#EFEFEF;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  font-weight: bold
}

.buttons-checks label span {
  display: block;
  text-align: center;
  font-size:  1rem;
  padding:  0.5rem;
}

.buttons-checks label input {
  position: absolute;
  visibility: hidden;
}

.buttons-checks input:checked + span {
  background-color:#404040;
  color:#F7F7F7;
}
/* FIN BOTONES RADIO CHECKED IN DETAILS */

/* ESTILOS MODAL */
.modal-naito {
  display: flex;

  opacity: 0.4;
  visibility: hidden;
  transition: visibility 0s, opacity 1s ease; 
    
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  padding: 1rem;
  background-color: lavenderblush;

  justify-content: center;
  align-self: center;

  position: fixed;
  top: 20%;
  z-index: 10;  
}

.close-icon-modal {
  color: black;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 1.5rem;
  text-align: end;
}

.close-icon-modal:hover,
.close-icon-modal:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.cover-modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9;
  top: 0;
}

.field-modal {
  display: flex;
  justify-content: space-between; 
  margin: 2rem auto 0; 
  width: 100%;
}
/* FIN ESTILOS MODAL */


/* Acá empieza el responsive */
@media (min-width: 335px) {
  header .cart-icon {
    display: block;
  }
}

@media (min-width: 380px) {
  header .cart-icon {
    display: block;
  }
}

@media (min-width: 424px) {
  .product .product-details {
    font-size: 1.5rem;
  }

  .section-title {
    font-size: 1.5rem;
  }
  .product {
    width: calc(50% - 2rem);
  }
}

@media (min-width: 768px) {
  .product .product-details {
    font-size: 1.65rem;
    height: 6rem;
  }

  .sidebar {
    width: 20vw;
  }

  .sidebar.sidebar.close-zone {
    width: 80vw;
  }

  /* cart */

  .details-product-cart {
    font-size: 1.5rem;
  }

  .section-cart {
    padding-right: 0.5rem;
  }
  /* END cart */

  /* detalles de producto */

  footer.footer-details {
    margin-top: 6rem;
  }

  .container-product-details {
    display: flex;
    max-width: 1440px;
    margin: auto;
  }

  .product-description {
    padding: 0.5rem;
  }

  #details{
    display: flex;
    flex-direction: row;
    padding: 14px;
    margin: 0 20px;
  }

  .back-arrow {
    display: none;
  }

  .article-details {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    /* top: 2rem; */
    flex-grow: 1;
  }

  .details-data {
    position: relative;
    top: 2rem;
    width: 40%;
    max-width: 640px;
  }

  main .product-data {
    margin: 6px 6px;
    border-bottom: 2px solid rgb(36, 10, 10);
    font-size: 20px;
    line-height: 24px;
  }

  .container-product-details article img {
    min-width: 400px;
    max-width: 600px;
    width: 100%;
    height: inherit;
    margin: auto 0;
  }

  main .btn-talle {
    margin: 30px 6px;
    color: black;
    background-color: lightgray;
    width: 50%;
  }
  
  .description-title {
    margin: 6px 6px;
    margin-bottom: -15px;
    border-top: 2px solid rgb(36, 10, 10);
    display: flex;
    font-size: 18px;
  }

  .btn-black {
    border: 0;
    background-color: black;
    color: white;
    padding: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
    width: 95%;
    height: 3rem;
    max-width: none;
    margin: auto;
  }
  /* fin detalles de producto */


  /* PERFIL DE USUARIO */
  .profile-container {
    display: grid;
    grid-template-columns: minmax(100px, 50%) 1fr;
    place-items: center;
  }
  
  .profile-pic-container{
    margin: 0;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
  }

  .user-details-in-profile-edit {
    display: grid;
    padding-left: 1rem;
    min-width: initial;
  }
  /* FIN PERFIL DE USUARIO */

}

@media (min-width: 1024px) {
  main {
    padding-top: 4rem;
    min-height: calc(100vh - 7rem);
  }

  .section-title {
    font-size: 1.5rem;
  }

  .product {
    width: calc(33.33333% - 2rem);
    margin: 1rem;
    max-width: 40%;
  }

  .product .product-details {
    font-size: 1.5rem;
  }

  .product-name {
    margin: 0.5rem 0 0.5rem;
  }

  header {
    width: 100%;
    position: fixed;
    height: 4rem;

    z-index: 14;
  }

  .sidebar {
    display: block;
    background-color: transparent;
    width: 50%;
    height: auto;

    position: fixed;
    left: 0;
    margin: 0 25%;
    transition: none;
  }

  .sidebar ul {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .sidebar nav {
    margin-top: 0.5rem;
  }

  .sidebar nav ul li {
    border-bottom: none;
  }

  .sidebar nav ul li a {
    color: white;
  }

  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }

  .bar-menu {
    display: none;
  }

  header .logo {
    justify-content: flex-start;
    padding-left: 1rem;
    max-width: 210px;
    width: 20%;
  }

  header .user-name {
    font-size: 1rem;
    vertical-align: middle;
  }


  .container-cart-search {
    width: 22%;
  }

  .user-icon {
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .sidebar.sidebar.close-zone {
    width: 0;
  }

  .btn-grey {
    font-size: initial;
    margin: 4rem 0;
  }

  .total-cart {
    font-size: 1.5rem;
  }

  .article-details {
    width: 40%;
  }

  .details-data {
    width: 35%;
    margin-left: 30px;
  }

  /* New product */
  .session-form input{
    text-align: start;
  }

  .session-form.new-product-form textarea{
    text-align: start;
  }

  /* Probando dropdowns */

  .dropdown-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: absolute;
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear; 
  }

  .dropdown-container a {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .fas.fa-chevron-down {
    font-size: 1rem;
    position: relative;
    top: 2px;
  }

  .dropdown-mn:hover .dropdown-container {
    visibility: visible;
    opacity: 1;

    padding: 1rem 0.5rem 0;
    min-width: 10rem;
  }

  .sidebar nav ul .li-mobile {
    display: none;
  }

  .user-icon span{
    vertical-align: middle; /*Provisorio*/
  }

  /* Fin Probando dropdowns */

  /* Zona de textos en el banner dinámico */
  .text-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media (min-width:1200px) {
  /* Banner size */
  .banner-item.fade {
    position: absolute;
    bottom: -5rem;
    width: 100%;
    top: 0; /* Esto es muy caótico, cuando esta top y bottom juntos, prioriza top, pero sigue usando bottom para ajustar el titulo del texto. No entiendo */
  }

  .image-container.corrected img {
    position: relative;
    bottom: 2rem;
  }

  .banner-home {
    max-height: 48rem;
    height: 48rem;
  }

  main.index-main {
    padding-top: 0;
  }
  
  .number-text {
    bottom: 6rem;
  }

}

/* Esto es muy chancho, lo sé >.< */
@media (min-width:1400px) {
  .image-container.corrected img {
    bottom: 10rem;
  }
}

@media (min-width:1600px) {
  .image-container.corrected img {
    bottom: 18rem;
  }
}
/* Fin de lo feo >.< */
