<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Middo Naito"}); %>
<body>

    <%- include('../partials/header'); %>
    

    <main class="index-main">
        <div class="banner-home">
            <img src="/images/banner-home.jpeg" alt="moda-primavera-2020">
        </div>

        <p class="section-title">PRODUCTOS DESTACADOS</p>
        <section class="featured-products">
            
            <% productsData.forEach(el => { %>    
                <% let {name, price, alt, dir} = el %>
                <%- include('../partials/oneProduct', {name, price, alt, dir}) %>
            <% }); %>

            <!--<article class="product">
                <img src="/images/products/remerita.webp" alt="">
                <div class="product-details">
                    <div class="product-name">Remera Adidas</div>
                    <div class="product-price">$1.999</div>
                </div>    
            </article> -->

                                   
        </section>

    </main>

    <div class="btn">
        <a href="/products"><button class="btn-black btn-grey">VER TODOS LOS PRODUCTOS</button></a>
    </div>
    
    <%- include('../partials/footer'); %>
    
</body>
</html>