<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <script src="/js/script.js"></script>
  <title>Modal Test</title>
</head>
<body>

<%- include('../partials/header'); %>
    
<!-- Esto cubre todo el fondo -->
<div class="cover-modal" onclick=closeModal()></div>


<main class="index-main" style="min-height: calc(100vh - 18rem);">

  <p class="section-title" id="featured">PRODUCTOS DESTACADOS</p>
    
        

  <!-- Botón disparador del modal -->
  <div class="btn">
    <button type="submit" class="btn-default" onclick="newNote()">OPEN MODAL</button>
  </div>

  <!-- Este sería el modal propiamente dicho -->
  <div class="modal-naito">  
    <div class="close-zone-modal" onclick=closeModal()>X</div>
    <div>
      <p>¿Estás seguro que quieres hacer lo que quieres hacer?</p>
    </div>
    <div class="field-modal">
      <div class="btn">
        <button type="submit" class="btn-default" onclick="closeModal()">Cancelar</button>
      </div>
      <div class="btn">
        <button type="submit" class="btn-default red" onclick="closeModal()">¡Si! ¡Do it!</button>
      </div>
    </div>
  </div>
                              
    

</main>

<div class="btn">
  <a href="/products"><button class="btn-default btn-grey">VER TODOS LOS PRODUCTOS</button></a>
</div>
    
<%- include('../partials/footer'); %>
    
</body>
</html>
<script src="/js/modal.js"></script>
