<!-- Slideshow container renombrado a nuestro banner-home -->
<div class="banner-home">
                
    <div class="banner-item fade" style="display: block;">
        <div class="number-text">1 / 5</div>
        <div class="image-container corrected">
            <img src="/images/banner-images/midnight.jpeg">
        </div>
        <div class="text-zone">
            <div class="title-peque"><a href="/products/">Tienda Middo Naito</a></div>
            <p class = "little-paragraph">Encuentra las mejores prendas basadas en diseño y calidad, inspiradas en la década de los '90 y  2000.</p>
            <div class="btn">
                <a href="#featured"><button class="btn-default banner-btn">PRODUCTOS DESTACADOS</button></a>
            </div>
        </div>
    </div>

    <div class="banner-item fade">
        <div class="number-text">2 / 5</div>
        <div class="image-container">
            <img src="/images/banner-images/on-street.jpg">
        </div>
        <div class="text-zone">
            <div class="title-peque"><a href="/products/">¡Damos la bienvenida a la primavera!</a></div>
            <p class = "little-paragraph">Accede a ver todo lo que llega con la temporada primavera/verano</p>
            <div class="btn">
                <a href="/products"><button class="btn-default banner-btn">QUE SE VIENE</button></a>
            </div>
        </div>
    </div>

    <div class="banner-item fade">
        <div class="number-text">3 / 5</div>
        <div class="image-container corrected">
            <img src="/images/banner-images/clothes.jpg">
        </div>
        <div class="text-zone">
            <div class="title-peque"><a href="/products/">Envíos a todo el país</a></div>
            <p class = "little-paragraph">Date una vuelta por nuestra tienda virtual y encontrá el estilo que siempre quisiste</p>
            <div class="btn">
                <a href="/products"><button class="btn-default banner-btn">VER TODOS LOS PRODUCTOS</button></a>
            </div>
        </div>
    </div>

    <div class="banner-item fade">
        <div class="number-text">4 / 5</div>
        <div class="image-container corrected">
            <img src="/images/banner-images/buildings.jpeg">
        </div>
        <div class="text-zone">
            <div class="title-peque"><a href="/products/">El mejor estilo urbano en un solo lugar</a></div>
            <div class="btn">
                <a href="/products"><button class="btn-default banner-btn">VER TODOS LOS PRODUCTOS</button></a>
            </div>
        </div>
    </div>

    <div class="banner-item fade">
        <div class="number-text">5 / 5</div>
        <div class="image-container">
            <img src="/images/banner-images/girl.jpeg">
        </div>
        <div class="text-zone">
            <div class="title-peque"><a href="/products/">¡Despedimos la temporada otoño/invierno!</a></div>
            <p class = "little-paragraph">No te pierdas de todo lo que nos dejó esta temporada en materia de estilo</p>
            <div class="btn">
                <a href="/products"><button class="btn-default banner-btn">OTOÑO / INVIERNO</button></a>
            </div>
        </div>
    </div>
    
</div>