<footer>
    <div class="footer-section shop">
        <div class="buy-title"><b>Compras Online</b></div>
        <div>Formas de pago</div>   
        <div>Términos y condiciones</div>
        <div>Preguntas Frecuentes</div>
    </div>

    <div class="footer-section">
        <div>Tienda Online de Middo Naito.</div>
        <div>© 2020 Todos los derechos reservados.</div>
    </div>

    <div class="footer-section contact">
        <div class="footer-contact-block">
            <div><b>Contacto</b></div>
            <div class="btn" >
                <button class="btn-default"><i class= "far fa-envelope"></i> Enviar mensaje</button>
            </div>   
            <div>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
            </div>
        </div>  
    </div>    
</footer>