<aside class="sidebar">
    <nav class="nav">
      <ul>

        <!-- Este solo aparece en mobile -->
        <li class="user-sidebar li-mobile">
          <% if (locals.user) { %> 
            <a href="/users/profile" class="link-profile-mobile">
              <i class="fas fa-user"></i>
              <span><%= locals.user.firstName %></span>
            </a>
          <% } else { %> 
            <a href="/users/login" class="link-profile-mobile">
              <i class="fas fa-user"></i>
              <span>Iniciar Sesión</span>
            </a>
          <% } %> 
        </li>    

        <li><a href="/">Home</a></li>
        <% if (!locals.user) { %> 
            <li class="close-sidebar-btn">
              <a href="/users/register">Registrate</a>
            </li>
          <% } %> 

        <!-- Esto era el dropdown probado en el header -->
        <!-- <li class="dropdown-mn">
          <a href="/users/register">Registrate</a>
          <div class="dropdown-container">
            <a href="/users/login">Ingresa</a>   Este solo aparece en Desktop en el dropdown 
          </div>
        </li> -->


        <!-- <li class="li-mobile"><a href="/users/login">Ingresa</a></li> --> <!-- Este solo aparece en mobile -->   
        <li><a href="/products">Productos</a></li>
        <!-- <li class="dropdown-mn">
          <a href="/products/add">Nuevo</a>
        </li> -->
        <li><a href="/us">About us</a></li>
        <li class="close-sidebar-btn"><a href="#" onclick="closeSidebar()">Cerrar</a></li>
        <% if(locals.user) { %> 
          <li class="close-sidebar-btn"><a href="/users/logout">Cerrar sesión</a></li>
        <% } %>
      </ul>
    </nav>
</aside>

<!-- Esto no sé si no será muy chancho -->
<aside class="close-zone" onclick="closeSidebar()"> 
</aside>

<header>
    <div class="bar-menu"><i class="fas fa-bars bar-nav" onclick="openSidebar()"></i></div>
    <div class="logo"><a href="/"><img src="/images/demo-logo.png" alt="middo-naito"></a></div>
    <div class="container-cart-search">
      <div class="user-icon"> <!-- Esto aparece solo en Desktop -->
        <% if(locals.user) { %> 
          <div class="dropdown-mn">
           <a href="/users/profile" >
            <i class="fas fa-user"></i>
            <span class="login-spam"><%= locals.user.firstName %> </span>
            <i class="fas fa-chevron-down"></i>
           </a>
              <div class="dropdown-container">
                <a href="/users/profile">Mi cuenta</a>
                <a href="/users/logout">Cerrar sesión</a> 
              </div>
          </div>
          <% } else { %> 

            <div class="dropdown-mn">
              <a href="/users/login" >
               <i class="fas fa-user"></i>
               <span class="login-spam">Iniciar sesión</span>
               <i class="fas fa-chevron-down"></i>
              </a>
              <div class="dropdown-container">
                <div class="element-dropdown">
                  <a href="/users/register"><i class="fas fa-user-plus"></i> Registrate</a>
                </div>
              </div>
            </div>


          <!-- <a href="/users/login">
            <i class="fas fa-user"></i>
            <span>Iniciar Sesión</span>
          </a> -->

          <% } %>
          
      </div>
      <div class="cart-icon"><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></div>
      <div class="search-icon"><i class="fas fa-search"></i></div>
    </div>
</header>