<aside class="sidebar">
    <nav class="nav">
      <ul>
        <!-- Este solo aparece en mobile -->
        <div class="close-icon-sidebar" onclick="closeSidebar()"><i class="fas fa-times"></i></div> <!-- No hay decisión aún -->
        
        <!-- Perfil del usuario -->
        <li class="user-sidebar li-mobile">
          <% if (locals.user) { %> 
            <a href="/users/profile" class="link-profile-mobile">
              <i class="fas fa-user"></i>
              <span><%= locals.user.firstName %></span>
            </a>
          <% } else { %> 
            <a href="/users/login" class="link-profile-mobile">
              <i class="fas fa-user"></i>
              <span>Iniciar Sesión</span>
            </a>
          <% } %> 
        </li>    

        <!-- Regreso a la home -->
        <li><a href="/">Home</a></li>
        <% if (!locals.user) { %> 
            <li class="li-mobile">
              <a href="/users/register">Registrate</a>
            </li>
        <% } %> 


        <!-- Esto era el dropdown probado en el header -->
        <!-- <li class="dropdown-mn">
          <a href="/users/register">Registrate</a>
          <div class="dropdown-container">
            <a href="/users/login">Ingresa</a>   Este solo aparece en Desktop en el dropdown 
          </div>
        </li> -->

        <!-- <li class="li-mobile"><a href="/users/login">Ingresa</a></li> --> <!-- Este solo aparece en mobile --> 
        
        
        <!-- Listado de productos -->
        <li><a href="/products">Productos</a></li>

        <!-- Panel de administrador -->
        <% if(locals.user) { %> 
          <% if(locals.user.admin) { %> 
            <li><a href="/users/panelAdmin"> Panel admin </a></li>
          <% } %>
        <% } %>

        <!-- Acerca de nosotros -->
        <li><a href="/us">About us</a></li>

        <!-- Antiguo texto para cerrar el slide -->
        <!-- <li class="close-sidebar-btn" style="display: none;"><a href="#" onclick="closeSidebar()">Cerrar</a></li> -->

        <!-- Opción de cerrar sesión si esta logueado -->
        <% if(locals.user) { %> 
          <li class="li-mobile" ><a href="/users/logout">Cerrar sesión</a></li>
        <% } %>

      </ul>
    </nav>
</aside>

<!-- Esto no sé si no será muy chancho -->
<aside class="close-zone" onclick="closeSidebar()"> 
</aside>

<header>
    <div class="bar-menu"><i class="fas fa-bars bar-nav" onclick="openSidebar()"></i></div>
    <div class="logo"><a href="/"><img src="/images/demo-logo.png" alt="middo-naito"></a></div>
    <div class="container-cart-search" style="position: relative;">
      <!-- Esto aparece solo en Desktop -->
      <div class="user-icon"> 
        <% if(locals.user) { %> 
          <div class="dropdown-mn">
            <a href="/users/profile" >
              <i class="fas fa-user"></i>
              <span class="login-span"><%= locals.user.firstName %> </span>
              <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-container">
              <a href="/users/profile">Mi cuenta</a>
              <% if(locals.user.admin) { %>
                <a href="/users/panelAdmin"> Panel admin </a>
              <% } %>
              <a href="/users/logout">Cerrar sesión</a> 
            </div>
          </div>
        <% } else { %> 

          <div class="dropdown-mn">
            <a href="/users/login" >
              <i class="fas fa-user"></i>
              <span class="login-span">Iniciar sesión</span>
              <i class="fas fa-chevron-down"></i>
            </a>
            <div class="dropdown-container">           
              <a href="/users/register"><i class="fas fa-user-plus"></i> Registrate</a>
            </div>
          </div>

        <% } %> 
      </div>
      <div class="cart-icon"><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></div>
      <div class="search-icon" onclick="toggleSearcher()"><label for="searcher"><i class="fas fa-search"></i></label</div>
    </div>
    <div class="searcher-field">
      <form action="/products/search" method="GET" style="display: flex;">
        <button type="submit" style="position: absolute;right: 0.5rem;"><i class="fas fa-arrow-right"></i></button>
        <input type="text" id="searcher" name="search">
      </form> 
    </div>
</header>
<div class="cover-modal" onclick="toggleModal()"></div>