<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Registrarse"}); %>
<body>
    <%- include('../partials/header'); %>
    <main class="register">
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>
        <h2 class="session-title">CREA TU CUENTA</h2>
        <form class="session-form" action="/" method="POST">
            <div class="input-form">
                <label for="fullName">NOMBRE</label>
                <input type="text" name="fullName" id="fullName" class="inputs" placeholder="Ingrese su nombre y apellido" required>
            </div>
            <div class="input-form">
                <label for="email">E-MAIL</label>
                <input type="email" name="email" id="email" class="inputs" placeholder="Ingrese su e-mail ej: cliente@mail.com" required>
            </div>
            <div class="input-form">
                <label for="password">CONTRASEÑA</label>
                <input type="password" name="password" id="passsword" class="inputs" placeholder="Cree una contraseña para su cuenta" required>    
            </div>
            <div class="input-form">
                <label for="confirmPassword"> CONFIRMAR CONTRASEÑA</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="inputs" placeholder="Repita la contraseña creada" required>  
            </div>
            <div class="btn">
                <button type="submit" class="btn-black">CREAR CUENTA</button>
            </div>
        </form>
        <div class="yes-account">
            <a class="no-underline" href="/users/login">
              ¿Ya tienes una cuenta? Inicia sesión
            </a>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>