<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Productos"}); %>
<body>
    
    <%- include('../partials/header'); %>

    <main class="index-main">
        
        <p class="section-title">PRODUCTOS</p>
        <section class="featured-products">
            
            <% productsData.forEach(el => { %>    
                <% let {name, price, alt, image} = el %>
                <%- include('../partials/oneProduct', {name, price, alt, image}) %>
            <% }); %>
        </section>

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>