<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Carrito de Compras"}); %>
<body>
    <%- include('../partials/header'); %>
    <main>
        <p class="section-title cart-title">Carrito de compras</p>

        <div class="product-in-cart">
            <div class="image-product-cart section-cart">
                <img src="/images/products/remerita.webp" alt="remerita">
            </div>

            <div class="details-product-cart section-cart">

                <div class="name-delete-product">
                    Remera Adidas
                    <i class="far fa-trash-alt"></i>
                </div>
    
                <div class="price-quantity-in-cart">
                    <div class="quantity">
                        <i class="far fa-minus-square"></i>
                        2
                        <i class="far fa-plus-square"></i>
                    </div>
                    <p>$1.999</p>
                </div>
                
            </div>
        </div>

        <div class="product-in-cart">
            <div class="image-product-cart section-cart">
                <img src="/images/products/buzo.png" alt="buzo">
            </div>

            <div class="details-product-cart section-cart">

                <div class="name-delete-product">
                    Buzo Disagree
                    <i class="far fa-trash-alt"></i>
                </div>
    
                <div class="price-quantity-in-cart">
                    <div class="quantity">
                        <i class="far fa-minus-square"></i>
                        1
                        <i class="far fa-plus-square"></i>
                    </div>
                    <p>$4.790</p>
                </div>
                
            </div>
        </div>

        <div class="product-in-cart">
            <div class="image-product-cart section-cart">
                <img src="/images/products/dress.jpg" alt="vestido de mujer para la noche">
            </div>

            <div class="details-product-cart section-cart">

                <div class="name-delete-product">
                    Vestido crepé
                    <i class="far fa-trash-alt"></i>
                </div>
    
                <div class="price-quantity-in-cart">
                    <div class="quantity">
                        <i class="far fa-minus-square"></i>
                        1
                        <i class="far fa-plus-square"></i>
                    </div>
                    <p>$510</p>
                </div>
                
            </div>
        </div>

        <div class="product-in-cart">
            <div class="image-product-cart section-cart">
                <img src="/images/products/pants-corderoy.png" alt="pantalones corderoy">
            </div>

            <div class="details-product-cart section-cart">

                <div class="name-delete-product">
                    Pantalones corderoy
                    <i class="far fa-trash-alt"></i>
                </div>
    
                <div class="price-quantity-in-cart">
                    <div class="quantity">
                        <i class="far fa-minus-square"></i>
                        1
                        <i class="far fa-plus-square"></i>
                    </div>
                    <p>$3.590</p>
                </div>
                
            </div>
        </div>

        <div class="total-cart">
            <b>SUBTOTAL (Sin envio)</b><b>$67.200</b>
        </div>

        <div class="product-in-cart deliver-type" >
            <div>
                <i class="fas fa-truck"></i>
                <span>Opciones de envío</span>            
            </div>
            <div>
                <select id="">
                    <option value="directo">Retiro en local</option>
                    <option value="correo-local">Envio por correo a sucursal</option>
                    <option value="correo-casa">Envio por correo a domicilio</option>
                </select>
            </div>
        </div>


        <div class="border"></div>

        <div class="total-cart">
            <b>TOTAL</b><b>$67.200</b>
        </div>

        <div class="btn">
            <button class="btn-black">INICIAR COMPRA</button>
        </div>
    </main>

    <%- include('../partials/footer'); %>
    
</body>
</html>