<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Nuevo Producto"}); %>
<body>
    <%- include('../partials/header'); %>
    <main class="newProduct">
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>
        <h2 class="session-title">AÑADIR UN NUEVO PRODUCTO</h2>
        <form class="session-form newProductForm" action="/" method="POST">
            <div class="input-form">
                <label for="productName">NOMBRE</label>
                <input type="text" name="productName" id="productName" class="inputs" placeholder="Escriba el nombre del producto">
            </div>
            <div class="input-form">
                <label for="productDescription">DESCRIPCIÓN</label>
                <textarea name="productDescription" id="productDescription" class="inputs" placeholder="Realice una descripción del producto"></textarea>
            </div>

            <div class="two-cols">
                <div class="col">
                    <label for="productCategory">CATEGORÍA</label>
                    <select name="productCategory" class="btn-talle">
                        <option value="" hidden selected>Seleccione</option>
                        <option value="t-shirts">Remera</option> 
                        <option value="shirts">Camisa</option> 
                        <option value="jackets">Campera</option>
                        <option value="pants">Pantalón</option>
                        <option value="accesories">Accesorio</option>
                    </select>    
                </div>
                <div class="col">
                    <label for="productSize">TALLE</label>
                    <select name="productSize" class="btn-talle">
                            <option value="" hidden selected>Talle</option>
                            <option value="s">S</option> 
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="xl">XL</option>
                            <option value="xxl">XXL</option>
                    </select>    
                </div>
                
            </div>

            <div class="two-cols">
                <div class="col">
                    <label for="productPrice">PRECIO</label>
                    <input type="text" name="porductPrice" id="porductPrice" class="inputs" placeholder="Ingrese el precio del producto">        
                </div>
                <div class="col">
                    <label for="productStock">STOCK</label>
                    <input type="text" name="productStock" id="productStock" class="inputs" placeholder="Ingrese el stock del producto">    
                </div>
            </div>

            <div class="input-form">
                <label for="productIMG">IMAGEN</label>
                <input type="file" name="productIMG" id="productIMG" class="inputs">
            </div>
            <div class="btn">
                <button type="submit" class="btn-black">AÑADIR PRODUCTO</button>
            </div>
        </form>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>