* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 217, 199, 0.37);
  position: relative;
}

body h1 {
  align-self: center;
}

body img {
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  padding: 0.5rem 0.25rem;

  /* background-color: rgb(5, 5, 5, 0.87); */
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

header .bar-menu {
  width: 10%;
  text-align: center;
}

header .logo {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
}

header .logo img {
  width: 100%;
  height: 100%;
  max-width: 190px;
}

.container-cart-search {
  display: flex;
  justify-content: space-around;
  width: 20%;
  /*   font-size: 1.5rem; */
}

header .cart-icon {
  text-align: end;
}

header a {
  color: white;
  text-decoration: none;
}

.fa-shopping-cart,
.fa-search,
.fa-bars {
  cursor: pointer;
}

header .search-icon {
  text-align: center;
}

.banner-home img {
  width: 100%;
}

main.index-main {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;

  max-width: 1600px;
  margin: 0 5%;
  padding: 12px 0 0px;

  position: relative;
}

.section-tittle {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0 0;
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  width: calc(50% - 2rem); /* probar usar calc(50% - 1 o 2 rem) */
  margin: 1rem; /* probar usar 1 o 2 rem */
  border: 2px solid grey;
}

.link-to-product {
  text-decoration: inherit;
  color: inherit;
}

.product .product-details {
  height: 30%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.index-main .product img {
  width: 100%;
  margin: 0;
  height: inherit;
}

.sidebar {
  display: none;
  position: fixed;
  width: 50vw;
  height: 100vh;
  background: black;
  font-size: 0.65em;
  z-index: 15;
}

.sidebar nav ul {
  list-style: none;
  padding-left: 0;
}

.sidebar nav ul li {
  margin: 8px 0;
  border-bottom: 1px solid grey;
  padding: 8px;
}

.sidebar nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.sidebar.close-zone {
  background: rgba(0, 0, 0, 0.6);
  right: 0;
  z-index: 14;
}

@font-face {
  font-family: "bjork";
  src: url(../../design/fonts/BJORKFON.ttf);
}

.test-font2 {
  font-family: "bjork";
  font-size: 80px;
  text-align: center;
}

/* productDetails */

main {
  /* background-color: ; BUSCAR EL ROSA */
  display: flex;
}

/* img */

main article img {
  width: 60%;
  height: 60%;
  margin-left: 54px;
}

main article .product-data {
  margin: 6px 6px;
  border-bottom: 2px solid rgb(36, 10, 10);
}

main article .btn-talle {
  margin: 6px 6px;
  color: black;
  background-color: lightgray;
}

.btn-add {
  margin: 6px 0px;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  padding: 6px;
  /* display: flex;
  align-items: center; */
}

/* Register html */

.form {
  overflow: auto;
  margin: 10px;
}

.button {
  border: 0;
  background-color: black;
  color: white;
  padding: 12px;
}

@media (min-width: 768px) {
  .product .product-details {
    font-size: 1.65rem;
  }
}

@media (min-width: 1024px) {
  .section-tittle {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  .banner-home {
    max-height: 38rem;
    overflow: hidden;
  }

  .product {
    width: calc(33.33333% - 2rem);
    margin: 1rem;
    max-width: 40%;
  }

  .product .product-details {
    font-size: 2rem;
  }

  .product-name {
    margin: 0.5rem 0 0.5rem;
  }

  main {
    padding-top: 4rem;
  }

  header {
    width: 100%;
    position: fixed;
    height: 4rem;

    z-index: 14;
  }

  .sidebar {
    display: block;
    background-color: transparent;
    width: 50%;
    height: auto;

    position: fixed;
    margin: 0 25%;
  }

  .sidebar ul {
    display: flex;
    justify-content: center;
  }

  .sidebar nav ul li {
    border-bottom: none;
  }

  .sidebar nav ul li a {
    color: white;
  }

  .close-sidebar-btn,
  .bar-menu {
    display: none;
  }

  header .logo {
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .container-cart-search {
    width: 10%;
  }

  .sidebar.sidebar.close-zone {
    width: 0;
  }
}
