body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

body h1 {
  align-self: center;
}

body img {
  align-self: center;
}

header {
  background-color: black;
  color: white;
  display: flex;
  padding: 12px 8px;
  height: 32px;
  align-items: center;
}

header .bar-menu {
  width: 10%;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

header .logo {
  width: 60%;
  font-size: 24px;
  text-align: right;
}

header .cart-icon {
  width: 15%;
  font-size: 20px;
  text-align: end;
  cursor: pointer;
}

header .search-icon {
  width: 15%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.banner-home img {
  width: 100%;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*   background-color: aqua; */

  max-width: 1600px;
  margin: 0 5%;
  padding: 12px 5% 0px;

  position: relative;
}

.section-tittle {
  text-align: center;
}

.product {
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  width: 40%;
  margin: 18px 0;
  border: 2px solid grey;

  box-sizing: border-box;
}

.product .product-details {
  height: 30%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product img {
  width: 100%;
}

@font-face {
  font-family: "bjork";
  src: url(../../design/fonts/BJORKFON.ttf);
}

.test-font2 {
  font-family: "bjork";
  font-size: 80px;
  text-align: center;
}
