* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 217, 199, 0.37);
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
}

body h1 {
  align-self: center;
}

body img {
  align-self: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 3.5rem;
  padding: 0.5rem 0.25rem;

  /* background-color: rgb(5, 5, 5, 0.87); */
  background-color: black;
  color: white;
  font-size: 1.5rem;
}

header .bar-menu {
  width: 20%;
  padding: 1rem;
}

header .logo {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
}

header .logo img {
  width: 100%;
  height: 100%;
  max-width: 190px;
}

.container-cart-search {
  display: flex;
  justify-content: space-around;
  width: 20%;
  /*   font-size: 1.5rem; */
}

header .cart-icon {
  display: none;
  text-align: end;
}

header a {
  color: white;
  text-decoration: none;
}

.fa-shopping-cart,
.fa-search,
.fa-bars {
  cursor: pointer;
}

header .search-icon {
  text-align: center;
}

.banner-home img {
  width: 100%;
}

main.index-main {
  align-content: center;
}

.product-in-cart.deliver-type {
  margin-top: 0;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 360px;
}

.fa-truck {
  margin-right: 2rem;
}

.total-cart {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  max-width: 768px;
}

.border { 
  border-top: 1px solid black;
  width: 90%;
  align-self: center; 
  margin: 2rem 0;
  max-width: 768px;
}

.team-12 ul li {
  margin-bottom: 0.5rem;
}

.team-12 ul li span {
  font-weight: bold;
}

.featured-products {
  display: flex;
  flex-wrap: wrap;

  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 0 0px;

  position: relative;
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0 0;
  font-weight: bold;
}

.section-title.cart-title {
  margin: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  width: calc(50% - 2rem);
  margin: 1rem;

/*   border: 2px solid grey; */
}

.product:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.link-to-product {
  text-decoration: inherit;
  color: inherit;
}

.product .product-details {
  height: 4rem;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem 0;
}

.index-main .product img {
  width: 100%;
  margin: 0;
  height: inherit;
}

.sidebar {
  display: none;
  position: fixed;
  width: 50vw;
  height: 100vh;
  background: black;
  font-size: 0.65em;
  z-index: 15;
}

.sidebar nav ul {
  list-style: none;
  padding-left: 0;
}

.sidebar nav ul li {
  margin: 8px 0;
  border-bottom: 1px solid grey;
  padding: 8px;
}

.sidebar nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.sidebar.close-zone {
  background: rgba(0, 0, 0, 0.6);
  right: 0;
  z-index: 14;
}

@font-face {
  font-family: "bjork";
  src: url(../../design/fonts/BJORKFON.ttf);
}

.test-font2 {
  font-family: "bjork";
  font-size: 80px;
  text-align: center;
}

#details {
  display: flex;
  flex-direction: column;
  padding: 14px;
}

.arrow {
  background-color: transparent;
  border: none;
}

/* productDetails */
/* img */

main article img {
  width: 100%;
  height: 100%;
}

main .product-data {
  margin: 6px 6px;
  border-bottom: 2px solid rgb(36, 10, 10);
}

main .btn-talle {
  margin: 6px 6px;
  color: black;
  background-color: lightgray;
  width: 20%;
}

.add-div {
  display: flex;
  justify-content: center;
  margin: 0.5em 0em;
}

.btn-add {
  margin: 12px 0px;
  background-color: black;
  color: antiquewhite;
  text-align: center;
  padding: 12px;
  width: 80%;
  letter-spacing: 0.5px;
  border: transparent;
  cursor: pointer;
}

.article-details {
  display: flex;
  flex-direction: column;
  /* height: 150px; */
  width: 100%;
}

.product-description {
  margin: 6px 6px;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.description-title {
  margin: 12px 6px;
  border-top: 2px solid rgb(36, 10, 10);
  display: flex;
  justify-content: center;
  /* background-color: lightgray;
  padding: 14px; */
}

.description-title span {
  text-align: center;
  margin: 6px 6px;
  background-color: lightgray;
  width: 80%;
  font-size: smaller;
}


  /* VISTA PC */

  @media (min-width: 769px){

    #details{
        display: flex;
        flex-direction: row;
        padding: 14px;
        margin: 0 20px;
    }

    .back-arrow{
      display: none;
    }

    .article-details {
      display: flex;
      flex-direction: column;
      width: 60%;
      position: relative;
      top: 4em;
  }

   .details-data {
    position: relative;
    top: 7em;
    left: 2em;
    width: 40%;
    }

    main .product-data {
      margin: 6px 6px;
      border-bottom: 2px solid rgb(36, 10, 10);
      font-size: 20px;
      line-height: 24px;
  }

    main article img {
      width: 40%;
      min-width: 500px;
      margin: 10vh;
    }

    main .btn-talle {
      margin: 6px 6px;
      color: black;
      background-color: lightgray;
      width: 40%;
    }

    .btn-add {
      margin: 12px 0px;
      background-color: black;
      color: white;
      text-align: center;
      padding: 12px;
      width: 60%;
      height: 8vh;
      letter-spacing: 0.5px;
      border: transparent;
      cursor: pointer;
    }
    
    .description-title span {
      text-align: center;
      margin: 6px 6px;
      background-color: lightgray;
      width: 60%;
      font-size: smaller;
    }


  }

/* FINAL PRODUCT DETAILS */

/* REGISTER Y LOGIN html */

main.register {
  max-width: 768px;
  margin: 0 auto;
}
main.login {
  max-width: 768px;
  margin: 0 auto;
}

main .session-title {
  /* padding-top: 5rem; */
  border-bottom: 2px solid grey;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

main .session-form {
  overflow: auto;
  margin: 10px;
  color: black;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
}
.input-form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  padding-top: 0.5rem;
}
.input-form label{
  margin: 0 auto;
  width: 90%;
}
.inputs {
  border: none;
  background-color: lightgrey;
  padding: 2.5% 2.5%;
  width: 90%;
  color: black;
  text-align: center;
  margin: 0 auto;
}
.btn {
  display: flex;
  justify-content: center;
}

.btn-log, .btn-reg {
  border: 0;
  background-color: black;
  color: white;
  padding: 12px;
}

.yes-account, .no-account {    
  display: flex;
  justify-content: center;
  font-size: 0.5rem;   }

.no-underline{
  text-decoration: none;
  color: black; 
}

/* Product Cart */
.product-in-cart {
  display: flex;
  align-items: center;

  background-color: rgba(194, 153, 153, 0.7);
  width: 90%;
  max-width: 768px;
  height: 10rem;
  margin: 0 auto 1rem;
}

.image-product-cart {
  display: flex;
  width: calc(40% - 1rem);
  height: 75%;
  /* background-color: yellow; */
}

.image-product-cart img {
  height: 100%;
  max-width: 100%;
}

.details-product-cart {
  display: flex;
  flex-direction: column;
  width: calc(60% - 1rem);
  height: 75%;
}

.name-delete-product {
  position: relative;
  flex-grow: 1;
  padding: 0 1.5rem 0 0.5rem;
}

.name-delete-product .far {
  position: absolute;
  right: 2px;
  top: 0;
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-trash-alt:hover {
  color: #555555;
}

.price-quantity-in-cart {
  display: flex;
  position: relative;

  justify-content: space-between;
  text-align: center;
  padding: 0 0.5rem;

  font-size: 1.2rem;
}

.price-quantity-in-cart p {
  margin: 0;
  font-weight: bold;
}

.product-in-cart .section-cart {
  margin: 0 0.5rem;
}

/* .quantity {
  font-size: 1.2rem;
} */

.quantity .far, .btn-all-prods {
  cursor: pointer;
}

.btn-all-prods {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

.btn-all-prods:hover {
  background-color: #C2C2C2;
}

.btn-buy:hover {
  background-color: #222222;
}
/* Acá empieza el responsive */

footer {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .border {
  margin: 0.5rem 0;
  border-top: 2px solid black;
  width: 100%;
}

footer i {
  margin: 0.5rem;
  font-size: 1.5rem;
}

@media (min-width: 335px) {
  header .cart-icon {
    display: block;
  }
}

@media (min-width: 380px) {
  header .cart-icon {
    display: block;
  }
}

@media (min-width: 768px) {
  .product .product-details {
    font-size: 1.65rem;
    height: 6rem;
  }

  .sidebar {
    width: 20vw;
  }

  .sidebar.sidebar.close-zone {
    width: 80vw;
  }

  .image-product-cart {
    width: calc(20% - 1rem);
  }

  .details-product-cart {
    flex-grow: 0.8;
    font-size: 1.5rem;
  }
  .yes-account, .no-account, .session-form label {     font-size: 1rem;   }

}

@media (min-width: 1024px) {
  main {
    padding-top: 4rem;
  }

  .section-title {
    font-size: 2.5rem;
    margin: 2rem 0;
  }

  .banner-home {
    max-height: 38rem;
    overflow: hidden;
  }

  .product {
    width: calc(33.33333% - 2rem);
    margin: 1rem;
    max-width: 40%;
  }

  .product .product-details {
    font-size: 1.5rem;
  }

  .product-name {
    margin: 0.5rem 0 0.5rem;
  }

  header {
    width: 100%;
    position: fixed;
    height: 4rem;

    z-index: 14;
  }

  .sidebar {
    display: block;
    background-color: transparent;
    width: 50%;
    height: auto;

    position: fixed;
    margin: 0 25%;
  }

  .sidebar ul {
    display: flex;
    justify-content: center;
  }

  .sidebar nav ul li {
    border-bottom: none;
  }

  .sidebar nav ul li a {
    color: white;
  }

  .sidebar nav ul li a:hover {
    text-decoration: underline;
  }

  .close-sidebar-btn,
  .bar-menu {
    display: none;
  }

  header .logo {
    justify-content: flex-start;
    padding-left: 1rem;
  }

  .container-cart-search {
    width: 10%;
  }

  .sidebar.sidebar.close-zone {
    width: 0;
  }

  .btn-all-prods {
    font-size: initial;
    margin: 4rem 0;
  }

  .total-cart {
    font-size: 1.5rem;
  }
}
