<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Login"}); %>
<body>
    <%- include('../partials/header'); %>
    <main class="login">
        <div class="back-arrow">
            <a href="/">
                <button class="arrow">
                    <i class="fas fa-chevron-left"></i>
                </button>
            </a>
        </div>
        <h2 class="session-title">INICIAR SESIÓN</h2>
        <form class="session-form" action="/users/login" method="POST">
            <div class="input-form">
                <label for="email">E-MAIL</label>
                <input type="email" name="email" id="email" class="inputs" placeholder="mail-de-usuario@ejemplo.com" required>
            </div>
            <div class="input-form">
                <label for="password">CONTRASEÑA</label>
                <input type="password" name="password" id="passsword" class="inputs" placeholder="Colocá la contraseña de tu cuenta" required>    
            </div>
            <div class="input-form">
                <label for="remember">RECORDARME <input type="checkbox" name="remember" class="inputs"></label>       
            </div>
            <div class="btn">
                <button type="submit" class="btn-default">INICIAR SESIÓN</button>
            </div>
        </form>
        <div class="no-account">
            <a class="no-underline" href="/users/register">
              ¿No tiene una cuenta? Cree una aquí
            </a>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>