<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Lista de Usuarios"}); %>
<body class="adm-body">
    
    <%- include('../partials/header'); %>

    <main class="cart">
        
        <p class="section-title">Panel administrador</p>
       
        <section class="section-panel-admin">
            <a href="/users/usersList">
                <article class="panel-element">
                    <b>Lista de Usuarios</b>
                </article>
            </a>
            <a href="/products/add">
                <article class="panel-element">
                    <b>Añadir un nuevo producto</b>
                </article>
            </a>
            <a href="/products/productListAdmin">
                <article class="panel-element">
                    <b>Lista de productos</b>
                </article>
            </a>
            <a href="/users/logout">
                <article class="panel-element">
                    <b>Cerrar Sesion como administrador</b>
                </article>
            </a>
        </section>

    </main>

    <%- include('../partials/footer'); %>

</body>
</html>